<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282053984724-ehpi271tqktlgl79i319sg8oolf7gmnn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282053984724-ehpi271tqktlgl79i319sg8oolf7gmnn</string>
	<key>API_KEY</key>
	<string>AIzaSyAJicLaUThPDnR0Kesa4W6_4TUw4Eqj1Ts</string>
	<key>GCM_SENDER_ID</key>
	<string>282053984724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.newpackagename</string>
	<key>PROJECT_ID</key>
	<string>wa-apps-28f9a</string>
	<key>STORAGE_BUCKET</key>
	<string>wa-apps-28f9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282053984724:ios:59cbd37b2868e73be99641</string>
</dict>
</plist>